* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui;
    background: #f2f2f2;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background: #4582ec;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #336bd1;
}

.resultado {
    margin-top: 30px;
    padding: 20px;
    background: #eef3ff;
    border-radius: 8px;
}
